body {
  margin: 0;
}

.scan--container {
  padding: 2rem;
  border: 1px red solid;
}

.button {
  padding: 1rem;
  border: none;
  background-color: #ad3377;
  color: #fff;
  box-shadow: 0 5px 8px #000;
  margin: 1rem;
}

.button:active {
  background-color: red;
  box-shadow: 0 3px 3px #000;
}

.button:hover {
  background-color: #ff9999;
  transform: scale(1.1);
}
